.containerDetailDog {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    height: 100%;

    background-image: url('../../images/fondoCards.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.divInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40em;
    height: 40em;
    top: 3em;
    background-color: #ffac3d;
    backdrop-filter: blur(25px);
    box-shadow: 0 6px 12px 0 #171615;
    transition: 0.2s;
    border-radius: 30px;

}

.mensajeTemperamentos {
    position: relative;
    width: 90%;
    text-align: center;
}

.divImage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imageDetail {
    max-width: 34em;
    max-height: 34em;
    object-fit: cover;


    border: 2px solid rgb(186, 180, 180);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    border-radius: 30px;
}