.containerCardsDogs {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  color: black;
  background-image: url('../../images/fondoCards.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;



}

.containerAll {
  display: flex;
  flex-direction: column;
}

.pagination {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.paginationItem {
  background: #ffac3d;
  box-shadow: 0 0 7px #787777;
  border: #5c5b5b;
  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
  color: white;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: #ffac3d;
  border: none;
  padding: 10px;
  box-shadow: 0 0 7px #787777;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 15px;
  color: white;
}

.paginationItem.active {
  color: #ece6e6;
  background: #c17108;

  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #787777;
}

@media (min-width: 400px) and (max-width: 800px) {
  .containerCardsDogs {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat:space ;
    background-position: center;


  }
}